<h2 class="text-center">Admin page</h2>

<div class="mid-container">

	<table class="admin-orders-table">
		<thead>
			<tr>
				<th>Имя</th><th>Телефон</th><th>Адрес</th><th>Код заказа</th>
			</tr>
		</thead>

		<tbody>
			<% @c.each do |client| %>
				<tr>
					<td><span><%= client.name %></span></td>
					<td><span><%= client.phone %></span></td>
					<td><span><%= client.address %></span></td>
					<td><span><%= client.products %></span></td>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>