<!DOCTYPE html>
<html>
<head>
	<title>PizzaShop</title>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon">	
  <script src="https://use.fontawesome.com/7599d4c6a9.js"></script>
	<link href="/css/styles.css" rel="stylesheet" media="all"> 
	<script src="/app.js"></script>	
</head>

<body>

	<h2 style="color: lightblue;">
		<a href="/">Главная</a><br>
		<a href="/some">чето тут будет</a>
	</h2>


	<!-- блок сообщения об ошибке -->
	<div>
		<% if @error && @error!='' %> 
			<div style="color: red;"><%= @error %></div> 
		<% end %>
	</div>


	<%= yield %> 
	
</body>
</html>
