<!DOCTYPE html>
<html>
<head>
	<title>PizzaShop</title>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">	
  <script src="https://use.fontawesome.com/7599d4c6a9.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link href="/css/styles.css" rel="stylesheet" media="all"> 
	<script src="/app.js"></script>	
</head>

<body>

	<!--============= Хэдер ===============-->
  <header>
    <div id="head-main">
      <!--<img src="" alt="">-->  <!-- нужна ли? -->
      <div id="h1-box1">     
        <a href="/" title="На главную страницу">PizzaShop</a>
      </div>
      <div id="h1-box2">
        <a href="/" class="trans" title="Страница с постами">Главная</a>
        <a href="/admin" class="trans" title="Написать пост">Admin</a>
      </div>
      <!--
      <div id="h1-box3">
        <a class="button-2 trans" href="#">Войти</a>
        <a class="button-2 trans" href="#">Регистрация</a>
      </div>
      -->
      <div id="h1-box4">
        <!-- Форма для отправки данных счетчика -->
        <form action="/cart" method="POST">
          <input type="hidden" name="orders_code" id="orders_input">
          <input type="submit" id="orders_button" class="button-2 trans"> 
        </form>
      </div>
    </div>
  </header>


	<!-- блок сообщения об ошибке -->
	<div>
		<% if @error && @error!='' %> 
			<div style="color: red;"><%= @error %></div> 
		<% end %>
	</div>


	<%= yield %> 
	


  <!-- Чтобы при обновлении страницы данные 'product_1=5,product_2=4,product_3=6,' в поле и колличество товаров в имени кнопки тоже обновлялись и вставлялись в значения поля/кнопки  -->
  <script>
    $(function() {
      updateOrdersInput();
      updateOrdersButton();
      updateOrderCounters();
    });
  </script>
</body>
</html>
