@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */


/*=====================================
Общие стили
=====================================*/

body {
  margin: 0;
  padding: 0;
  outline: none; /* убираем обводку по умолчанию, например у активных инпут полей */
  background-color: #e1dfd9;
  font-family: 'Montserrat', sans-serif;
}

a {text-decoration: none;}

.trans:hover {
  -webkit-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	transition: all.6s ease;
}

.text-center { text-align: center;}

/* Кнопки */
.button-1 {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: rgb(177, 150, 87);
  color: rgb(113, 50, 31);
  border: 1px solid rgb(113, 50, 31);
}
.button-1:hover {
  background-color: rgb(113, 50, 31);
  color: white;
  border: 1px solid rgb(177, 150, 87);
}
.button-1:active {
	background-color: white;
  color: rgb(113, 50, 31);
  border: 1px solid rgb(113, 50, 31);
}

.button-2 {
  font-weight: 500;
  border-radius: 5px;
  margin-right: .8rem;
  padding: .7rem 1.2rem;
  background-color: rgb(177, 150, 87);
  color: rgb(113, 50, 31);
  border: 1px solid rgb(113, 50, 31);
}
.button-2:hover {
  background-color: rgb(113, 50, 31);
  color: white;
}
.button-2:active {
	background-color: white;
  color: rgb(113, 50, 31);
}

.mid-container {
  /* border: 1px blue solid; */

  margin: 2rem 15%;
  padding: 1rem;
  padding-bottom: .5rem;
}
@media (max-width: 1330px) {
  .mid-container {
    margin: 2rem 5%;
  }
}


/*=====================================
Хедер  layout.erb 
=====================================*/

header { 
  background-color: rgb(177, 150, 87);
  padding: 1rem 15%;
}

#head-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* header img { width: 3rem;} */  /* пока убрано */

header a {color: rgb(113, 50, 31);}

header a[title="На главную страницу"] {
  font-size: 2.1rem;
  font-weight: 700;
}

#h1-box2 { font-size: 1.3rem; }
#h1-box2>a { 
  margin-right: 3rem; 
  font-weight: 500;
}
#h1-box2>a:hover { color: white; }

@media (max-width: 1330px) {
  header { padding: 1rem 5%;}
  #h1-box3 { 
    margin: 1rem 0; 
    font-size: .9rem;
  }
}


/*=====================================
index.erb
=====================================*/

.flexmom-index-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* @media (max-width: 800px) {
  .flexmom-index-main {
    flex-direction: column;
  }
} */

.son-index-main > div {
  margin-top: 1rem;
  padding: 0.5rem;
}

.pizza-title {
  font-weight: 500;
}